@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-950 text-dark-100 antialiased;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #494c59 #1e2028;
  }
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #1e2028;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #494c59;
    border-radius: 3px;
  }
}
